<div class="container pt-3">
    <div class="row">
        <div class="col-md-7">
            <h3>
                Beleidigungserkennung
            </h3>
        <div class="col-md-5 align-self-center">
            <div class="d-flex flex-column align-items-center">
                <figure class="figure">
                    <img src="https://images.unsplash.com/photo-1544717301-9cdcb1f5940f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption">Placeholder</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text">Texteingabe</span>
                <input type="text" class="form-control" placeholder="" #textInput
                    (change)="onTextChange(textInput, table)"> 
                <button class="btn btn-primary" [disabled]="!modelLoaded" type="button" (click)="evaluateText(textInput.value);textInput.value = '';">Analysieren</button>
                <button class="btn btn-warning" [disabled]="!modelLoaded" type="button" (click)="tableData = []">Zurücksetzen</button>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <table #table class="table">
                <thead>
                    <tr>
                        <th scope="col">Text</th>
                        <th scope="col" *ngFor="let l of labels">{{labelTranslation[l]}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tableData">
                        <th scope="row">{{row.text}}</th>
                        <td *ngFor="let l of labels" [ngClass]="{'toxic': row[l], 'ntoxic': !row[l], 'unsuretoxic': row[l] === null}">
                            
                        <div>
                            {{getTextFromResult(row[l])}}
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 *ngIf="tableData.length === 0" class="text-center">Gib einen Text ein, um ihn auf Beleidigungen zu berechnen.</h3>
        </div>
    </div>
</div>