<div class="container pt-3">
    <div class="row">
        <div class="col-md-7">
            <h3>
                Text-Interpretation
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut perspiciatis magnam, sit sapiente provident
                nisi dicta accusamus mollitia, deserunt quae suscipit ipsam doloribus distinctio, pariatur totam et
                ullam optio iste.
            </p>
        </div>
        <div class="col-md-5 align-self-center">
            <div class="d-flex flex-column align-items-center">
                <figure class="figure">
                    <img src="https://images.unsplash.com/photo-1544717301-9cdcb1f5940f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80"
                        class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption">Placeholder</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">


            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Context</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    [(ngModel)]="context"></textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Frage</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="question"
                    (change)="interpret()">
            </div>
        </div>
    </div>
</div>