<section>
  <h1>mnist training</h1>
  <div>
    <canvas #fake width="280" height="28"></canvas>
  </div>
  <div>
    <canvas #real width="280" height="280"></canvas>
  </div>

  <button [disabled]="loopId || !modelsLoaded" (click)="sampleFromBoth(fake, real)">sample pretrained</button>
  <button [disabled]="!modelsLoaded" (click)="sampleLoop(fake, real)">{{loopId ? 'cancel loop':'sample loop'}}</button>
</section>
<section>
  <h1>face generation</h1>
  <select [disabled]="!faceModelReady && currFaceModel" id="inputGroupSelect01" (change)="onFaceModelChange(faceCanvas)" [(ngModel)]="currFaceModelUrl">
    <option selected disabled value="">choose model</option>
    <option *ngFor="let x of listFaceModels" [value]="x.path">{{x.desc}}</option>
  </select>


</section>