<section>
  <h1>mnist training</h1>
  <div>
    <canvas #fake width="280" height="28"></canvas>
  </div>
  <div>
    <canvas #real width="280" height="280"></canvas>
  </div>

  <button [disabled]="loopId || !modelsLoaded" (click)="sampleFromBoth(fake, real)">sample pretrained</button>
  <button [disabled]="!modelsLoaded" (click)="sampleLoop(fake, real)">{{loopId ? 'cancel loop':'sample loop'}}</button>
</section>
<section>
  <h1>face generation</h1>
  <div>
    <label for="range">latent slider: {{latentRange}} </label>
    <input [disabled]="!faceModelReady" [(ngModel)]="latentRange" (input)="onFaceLatentChange($event.target.value, faceCanvas)" type="range" id="range" name="volume" min="0" max="400" value="0">
  </div>
  <select [disabled]="!faceModelReady && currFaceModel" id="inputGroupSelect01" (change)="onFaceModelChange(faceCanvas)" [(ngModel)]="currFaceModelUrl">
    <option selected disabled value="">choose model</option>
    <option *ngFor="let x of listFaceModels" [value]="x.path">{{x.desc}}</option>
  </select>

  <div>
    <canvas class="face-canvas" #faceCanvas id="canvas" width="256" height="256">
      Your browser does not support the canvas element.
    </canvas>
  </div>
  <button [disabled]="stop || !faceModelReady" (click)="abort()">abort</button>
  <button [disabled]="!faceModelReady" (click)="animate(faceCanvas)">animate</button>
  <button [disabled]="!faceModelReady" (click)="generate(faceCanvas)">generate</button>

</section>

<section>
  <div class="border">
    <app-gan-mnist-training></app-gan-mnist-training>
  </div>
</section>
