<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>
				Objekterkennung
			</h3>
			<p>
				Diese Komponente verwendet ein vortrainiertes Modell namens <em>Coco Single Shot MultiBox
					Detection</em>, kurz cocoSSD. CocoSSD ist ein Modell, welches mittels der <em>Comon Objects in
					Context</em> Datenbank trainiert wurde. Diese Datenbank beinhaltet ca. 330 tausend Bildern aus über
				170 Kategorien, welche durch das Modell zugeordnet werden können.
			</p>
			<p>
				Dadurch, dass das Modell ziemlich kompakt gehalten ist, kann es auf so ziemlich jedem Endgerät verwendet
				werden. Dadurch ergeben sich eine Vielzahl von Anwendungsmöglichkeiten - von Überwachungskameras, bis zu
				Fotofiltern in diversen sozialen Netzwerken.
			</p>
			<p>
				Natürlich kann ein solches Modell auch durch eigene Klassifizierungen ergänzt werden, wie das
				funktioniert findest du in der <a routerLink="/classify">Klassifizierungs Komponente</a> heraus.
			</p>
		</div>
		<div class="col-md-6 align-self-center">
			<div class="d-flex flex-column align-items-center">
				<div class="m-2 border">
					<video #video (loadeddata)="onLoadedData()" class="vid" autoplay></video>
				</div>
				<div class="py-2">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button class="btn btn-primary" [disabled]="!modelLoaded || webcamStarted"
							(click)="startCamera()">{{modelLoaded ? 'Starte Webcam':'lade Modell...  '}}
							<span *ngIf="!modelLoaded" class="spinner-border spinner-border-sm"></span>
						</button>
						<button class="btn btn-primary" [disabled]="!modelLoaded || !webcamStarted"
							(click)="changePredictionState()">{{(detectionInterrupted ? 'Starte':'Stoppe')+' Erkennung'}}</button>
					</div>
				</div>
				<!-- <div class="pb-2">
					<button class="btn btn-primary" (click)="capture()">Capture Image</button>
				</div> -->
				<div class="m-2">
					<canvas #canvas></canvas>
				</div>
				<!-- <div>
					<canvas #canvas2 id="canvas2"></canvas>
				</div> -->
			</div>
		</div>
	</div>
</div>