<div class="container">

    <div class="row mb-3">
        <div class="col-md-6 col-lg-8">
            <h3 class="mb-3">Stlye Transfer mit GANs</h3>
            <h4>
                Was ist ein Style Transfer?
            </h4>
            <p>
                Wenn man ein Bild gegeben hat, und dessen Stil auf ein anderes Bild anwenden möchte,
                so kann dies durch maschinelles Lernen umgesetzt werden.
                Hierbei wird durch GANs ein Modell trainiert,
                welches versucht den Stil des Stilbildes so gut wie möglich zu repräsentieren.
                Anschließend wird dieses Modell auf beliebige andere Inputbilder angewandt.
                Das Ergebnis sollte dann eine Kombination aus Quell- und Stilbild sein.
            </p>
            <p>
                Hierbei bleibt die Struktur des Inputbildes erhalten und lediglich Farben und Muster des Stilbildes
                werden auf das Inputbild abgebildet.
                So kann zum Beispiel der Stil eines van Gogh auf ein Foto aus deiner Webcam projeziert werden.
            </p>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="">
                <app-gan-transfer-input #inputImg [imgSrc]="imageInputSrc" [inputDisabled]="!buttonsEnabled"
                    [listOfImages]="preImagesInput" [description]="'Input Bild'">
                </app-gan-transfer-input>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 col-lg-8">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptas molestiae molestias,
                temporibus error fugiat qui. Modi suscipit ad eveniet nesciunt et numquam? Omnis excepturi praesentium,
                reprehenderit eius hic accusantium!
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptas molestiae molestias,
                temporibus error fugiat qui. Modi suscipit ad eveniet nesciunt et numquam? Omnis excepturi praesentium,
                reprehenderit eius hic accusantium!
            </p>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="">
                <app-gan-transfer-input #style1 [imgSrc]="imageStyleLeftSrc" [inputDisabled]="!buttonsEnabled"
                    [listOfImages]="preImagesStyle" [description]="'Erster Style'">
                </app-gan-transfer-input>
            </div>
            <br>
            <div [ngClass]="{'d-none': !combineStyles}">
                <div class="">
                    <app-gan-transfer-input #style2 [imgSrc]="imageStyleRightSrc" [inputDisabled]="!buttonsEnabled"
                        [listOfImages]="preImagesStyle" [description]="'Zweiter Style'">
                    </app-gan-transfer-input>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-8">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptas molestiae molestias,
                temporibus error fugiat qui. Modi suscipit ad eveniet nesciunt et numquam? Omnis excepturi praesentium,
                reprehenderit eius hic accusantium!
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptas molestiae molestias,
                temporibus error fugiat qui. Modi suscipit ad eveniet nesciunt et numquam? Omnis excepturi praesentium,
                reprehenderit eius hic accusantium!
            </p>
            <div [ngClass]="{'d-none': !outputGenerated}">
                <figure class="figure">
                    <figcaption class="figure-caption">Generiertes Bild</figcaption>
                    <canvas #outputCanvas></canvas>
                </figure>
            </div>


        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" [(ngModel)]="combineStyles" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">Zwei Styles Kombinieren?</label>
            </div>

            <div class="input-group mb-3 btn-group-vertical">
                <button class="btn btn-primary" type="button" id="button-addon1" (click)="onStyleSubmit(outputCanvas)"
                    [disabled]="!buttonsEnabled">{{styleText}}</button>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">{{combineStyles ? 'Style Verhältnis' :
                        'Style Stärke'}}</span>

                </div>
                <div class="inline-range">
                    <input type="range" class="form-control-range" id="brushWidth" [(ngModel)]="styleRatio"
                        step="0.01" min="0" max="1">
                </div>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Modell Qualität</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" (change)="updateModels($event.target.value)">
                    <option selected value="low">Schnelle Performance</option>
                    <option value="high">Hohe Qualität</option>
                </select>
            </div>
        </div>
    </div>

</div>