<div class="container">
    <div class="row" style="margin-bottom: 3%;">
        <div class="col-md" style="text-align: center;">
            <span class="counter">
                Gespielte Spiele:
                <span id="gameCounter">0</span>
            </span>
        </div>
    </div>
        <div class="row flex-nowrap">
            <!--Kontrollelemente -->
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md" style="text-align: center;">
                        <button id="restart" type="button" class="btn btn-primary buttons" [disabled]="buttonsDisabled" (click)="resetGame()">Neues Spiel</button>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-md" style="text-align: center;">
                        <button id="perfectAgent" type="button" class="btn btn-primary buttons" [disabled]="buttonsDisabled" (click)="perfectAgentPlay()">Optimales Spiel</button>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md" style="text-align: center;">
                        <button id="reset" type="button" class="btn btn-warning buttons" [disabled]="buttonsDisabled" (click)="resetAll()">Zurücksetzen</button>
                    </div>
                </div>
            </div>
            <!--Spielfeld -->
            <div class="col-md-4"  id="board_section" style="text-align: center;">
                <div id="board"></div>
            </div>

            <!--Diagram--> 
            <div class="col-md-4" id="diagram_section">
                <div id="diagram"></div>
            </div>           
        </div>
    


    <div class="row" style="margin-top: 5%; height: 1000px;">
        <div class="col-md">
            <div id="tree"></div>
        </div>
    </div>


</div>