<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h3>Generative Adversarial Networks</h3>
            <p>Zeichne etwas und das GAN Netzwerk versucht ein Bild zu erzeugen.</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quidem, officiis nemo quaerat sit esse
                laboriosam illo perferendis deserunt alias animi, ad culpa. Fuga voluptatibus eos voluptas quisquam,
                totam et.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quidem, officiis nemo quaerat sit esse
                laboriosam illo perferendis deserunt alias animi, ad culpa. Fuga voluptatibus eos voluptas quisquam,
                totam et.
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-9 col-lg-6">
            <app-gan-canvas #inputCanvas [canvasColor]="canvasColor" [canvasBrushWidth]="canvasBrushWidth"
                [canvasWidth]="canvasWidth" [canvasHeight]="canvasWidth">
            </app-gan-canvas>
        </div>

        <div class="col-md-3 col-lg-6 my-3">
            <div *ngFor="let cat of categories.categories">
                <div class="d-flex flex-column">
                    <button class="btn btn-dark my-1"
                        (click)="activeCategory = activeCategory == cat.index ? undefined : cat.index">
                        {{cat.name}}
                    </button>
                    <div *ngIf="activeCategory == cat.index" class="topic-grid">
                        <button type="button" class="btn btn-sm topic-button"
                            *ngFor="let topic of categories[cat.index]" (click)="canvasColor = topic.color"
                            [style.background-color]="topic.color" [style.color]="textColor(topic.color)">
                            {{topic.name}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">

    </div>
