<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h3>Generative Adversarial Networks</h3>
            <p>Generative Adversarial Networks, kurz GANs, sind eine Untergruppe von Algorithmen des unüberwachten maschinellen Lernens.
                Unüberwacht bedeutet hier, dass für das Training eines solchen Algorithmus keine sortierten Daten benötigt werden.
            </p>
            <p>Zeichne etwas und das GAN Netzwerk versucht ein Bild zu erzeugen.</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quidem, officiis nemo quaerat sit esse
                laboriosam illo perferendis deserunt alias animi, ad culpa. Fuga voluptatibus eos voluptas quisquam,
                totam et.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quidem, officiis nemo quaerat sit esse
                laboriosam illo perferendis deserunt alias animi, ad culpa. Fuga voluptatibus eos voluptas quisquam,
                totam et.
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-9 col-lg-6">
            <app-gan-canvas #inputCanvas [canvasColor]="canvasColor" [canvasBrushWidth]="canvasBrushWidth"
                [canvasWidth]="canvasWidth" [canvasHeight]="canvasWidth">
            </app-gan-canvas>
        </div>

        <div class="col-md-3 col-lg-6 my-3">
            <div *ngFor="let cat of categories.categories">
                <div class="d-flex flex-column">
                    <button class="btn btn-dark my-1"
                        (click)="activeCategory = activeCategory == cat.index ? undefined : cat.index">
                        {{cat.name}}
                    </button>
                    <div *ngIf="activeCategory == cat.index" class="topic-grid">
                        <button type="button" class="btn btn-sm topic-button"
                            *ngFor="let topic of categories[cat.index]" (click)="canvasColor = topic.color"
                            [style.background-color]="topic.color" [style.color]="textColor(topic.color)">
                            {{topic.name}}
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="brushWidth">Pinselgröße</label>
                <input type="range" class="form-control-range" id="brushWidth" [value]="canvasBrushWidth"
                    (change)="canvasBrushWidth = $event.target.value" step="2" min="2" max="200">
            </div>

            <select #styleselect class="custom-select mb-3">
                <option value="random">random</option>
                <option *ngFor="let n of [0,1,2,3,4,5,6,7,8,9,10]" value="{{n}}">
                    {{n}}
                </option>
            </select>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-primary" (click)="sendRequest(styleselect.value)">Submit</button>
                <button class="btn btn-danger" (click)="inputCanvas.resetCanvas()">Reset</button>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6 d-flex flex-column align-items-center">
            <canvas #outputCanvas id="outputCanvas" width="512" height="512"></canvas>
        </div>

        <div class="col-md-6 text-center my-5">
            <h5>Das Ergebnis!</h5>
            <p>
                Wenn alles funktioniert hat, kannst du das Ergebnis des GAN Netzwerks jetzt sehen.
                Das Bild wurde anhand deiner Zeichnung erstellt und existiert so noch nirgendwo.
                Das bedeutet, das Netzwerk hat etwas generiert, was es noch nie gesehen hat.
            </p>
            <p>
                Du kannst das generierte Bild auch<button type="button" class="btn btn-link btn-sm"
                    (click)="downloadOutput()">herunterladen</button>.

            </p>
        </div>
    </div>
</div>