<div class="container pt-3">
   <div class="row">
      <div class="col">
         <h3>
            Übersetzen
         </h3>
         <p>
            Auf den ersten Blick scheint es einfach zwischen verschiedenen Sprachen zu Übersetzen.
            Für einzelne Wörter ist das oft auch korrekt.
            Sobald wir jedoch komplexe Sätz übersetzen wollen, wird es schnell sehr schwierig, da verschiedene Sprachen
            auch verschiedene Grammatiken voraussetzen, die sehr kompliziert sein können.
         </p>
         <p>
            Aus diesem Grund wird für alle gängigen Online-Dienste, wie zum Beipspiel Google Translate, die Anfrage
            eines Nutzer, der etwas übersetzen möchte, an einen Server gesendet, welcher dann diese komplexe Berechnung
            ausführt.
         </p>
         <p>
            Ein Problem mit deiser Herangehensweise ist die Privatsphäre des Nutzers, die durch die Übermittlung aller
            Anfragen an einen entfernten Server natürlich beeinträchtigt werden kann.
            Wäre es nicht toll wenn es eine Technologie gäbe, die es uns ermöglicht im Browser ein komplexes Modell
            auszuführen, welches es uns ermöglicht beliebige Sätze zu übersetzen.
         </p>
         <p>
            Dank des maschinellen Lernens ist es tatsächlich heutzutage möglich genau dies zu tun. Vorausgesetzt das
            Gerät des Nutzers hat ausreichend Leistung, kann einfach ein trainiertes Modell heruntergeladen werden,
            womit beliebige Sätze übersetzt werden können ohne, dass private Daten an fremde Server übertragen werden.
         </p>
      </div>
   </div>
   <div class="app">
      <div class="panel panel--from">
         <label>
            From <span *ngIf="loadingModel" class="spinner-border spinner-border-sm m-2"></span>
            <select id="lang-from" name="from" class="lang-select" [(ngModel)]="langFrom"
               [disabled]="translating || loadingModel" (change)="updateFromLang()">
               <!-- <option *ngFor="let lang of langs | keyvalue" [value]="lang.key" > {{lang.value}} </option> -->
               <option *ngFor="let t of supportedTranslations | keyvalue" [value]="t.key"> {{langs[t.key]}} </option>
            </select>
         </label>
         <textarea #input id="input" name="input" [(ngModel)]="inputText"></textarea>
      </div>
      <button class="swap" title="swap" (click)="swap()">↔️</button>
      <div class="panel panel--to">
         <label>
            To <span *ngIf="loadingModel" class="spinner-border spinner-border-sm m-2"></span>
            <select id="lang-from" name="from" class="lang-select" [(ngModel)]="langTo"
               [disabled]="translating || loadingModel" (change)="updateFromTo()">
               <!-- <option *ngFor="let lang of langs | keyvalue" [value]="lang.key"> {{lang.value}} </option> -->
               <option *ngFor="let t of supportedTranslations[langFrom]" [value]="t"> {{langs[t]}} </option>
            </select>
         </label>
         <textarea id="output" name="output" [(ngModel)]="outputText" [disabled]="translating" readonly></textarea>
      </div>
      <div class="footer" id="status"></div>
   </div>
</div>